{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Doctor Dashboard</title>
  </head>
  <body class="container">
    <header class="p-3">
      <form action="{% url 'logout' %}" method="post" style="display: inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">ログアウト</button>
      </form>
    </header>
    <h2>{{ doctor.user.username }} 医の担当患者</h2>

    <!-- フィルターフォーム -->
    <form method="get" style="text-align: center; margin-bottom: 20px">
      <label for="prediction">進行度で絞り込む：</label>
      <select name="latest_prediction" id="prediction">
        <option value="">-- 全て --</option>
        <option
          value="良性"
          {%
          if
          selected_prediction=""
          ="良性"
          %}selected{%
          endif
          %}
        >
          良性
        </option>
        <option
          value="初期がん"
          {%
          if
          selected_prediction=""
          ="初期がん"
          %}selected{%
          endif
          %}
        >
          初期がん
        </option>
        <option
          value="前がん状態"
          {%
          if
          selected_prediction=""
          ="前がん状態"
          %}selected{%
          endif
          %}
        >
          前がん状態
        </option>
        <option
          value="進行がん"
          {%
          if
          selected_prediction=""
          ="進行がん"
          %}selected{%
          endif
          %}
        >
          進行がん
        </option>
      </select>
      <button
        type="submit"
        id="cancer-stage-fillter-btn"
        class="btn btn-success"
      >
        絞り込む
      </button>
    </form>
    <table class="table">
      <tr>
        <th scope="col">氏名</th>
        <th scope="col">カルテID</th>
        <th scope="col">最新の分類結果</th>
        <th scope="col">詳細</th>
      </tr>
      {% for patient in patients %}
      <tr>
        <td>{{ patient.name }}</td>
        <td>{{ patient.chart_id }}</td>
        <td>{{ patient.latest_prediction|default:"未分類" }}</td>
        <td><a href="{% url 'patient_detail' patient.pk %}">詳細</a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">担当患者がいません。</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
